@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'helvetica';
  src: url('/fonts/helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cascadia';
  src: url('/fonts/cascadia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
}
